<div id="loginWrapper">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="padding-top: 15px; padding-bottom: 15px;">
			<div id="loginFormWrapper" class="form-wrapper">
				<form {{action 'authenticate' on="submit"}}>
					<div class="form-control-wrapper">
						{{input type="text" value=identification class="form-control empty" autocomplete="off"}}
						<div class="floating-label">Username</div>
						<span class="material-input"></span>
					</div>
					<div class="form-control-wrapper">
						{{input type="password" value=password class="form-control empty" autocomplete="off"}}
						<div class="floating-label">Password</div>
						<span class="material-input"></span>
					</div>
					<button class="btn btn-primary">Login!</button>
				</form>
			</div>
		</div>
	</div>
</div>
